<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>kodango</string>
	<key>Builder Version</key>
	<string>9537.75.14</string>
	<key>CFBundleDisplayName</key>
	<string>remove-google-redirection</string>
	<key>CFBundleIdentifier</key>
	<string>com.kodango.remove-google-redirection</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleVersion</key>
	<string>1.1.0</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>remove-google-redirection.user.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>inject.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Prohibit click-tracking, and prevent url redirection in Google search results</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>www.google.com</string>
				<string>www.google.com.hk</string>
				<string>www.google.com.sg</string>
				<string>www.google.co.uk</string>
				<string>www.google.co.jp</string>
				<string>ipv6.google.com</string>
				<string>encrypted.google.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://raw.githubusercontent.com/dangoakachan/Remove-Google-Redirection/master/extension/safari/update.plist</string>
	<key>Website</key>
	<string>http://kodango.com/remove-google-redirection</string>
</dict>
</plist>
